<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />

    <application
        android:name=".RahaRawheyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_splash_mosque"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_splash_mosque"
        android:supportsRtl="true"
        android:theme="@style/Theme.RahaRawhey"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.RahaRawhey.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".data.receiver.PrayerAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".data.receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
